::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  /* border: 6px solid rgba(0, 0, 0, 0.18); */
  border-left: 0;
  border-right: 0;
  background-color: #44697c;
}

body,
ul,
ol,
li {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro";
  user-select: none;
  list-style: none;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../assets/fonts/source-sans-pro-v21-latin-regular.woff")
      format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../../assets/fonts/source-sans-pro-v21-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../../assets/fonts/source-sans-pro-v21-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("../../assets/fonts/source-sans-pro-v21-latin-900.woff") format("woff");
}
.app-tod-popup-overlay {
  background-color: rgb(0 0 0 / 42%);
  height: 83vh;
  width: 100%;
  position: absolute;
  top: 17vh;
  display: none;
}
#app-success-snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #2d9100;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 12px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#app-success-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
